---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import Education from '../components/Education';
import WorkExperience from '../components/WorkExperience';
import Leadership from '../components/Leadership';
import Testimonials from '../components/Testimonials';
import Contact from '../components/Contact';
---

<Layout>
  <Navbar client:load />
  <main>
    <Hero client:load />
    <Education client:load />
    <WorkExperience client:load />
    <Leadership client:load />
    <Testimonials client:load />
    <Contact client:load />
  </main>
</Layout>
